# Python & IDE Clutter
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.vscode/

# Virtual Environment
venv/
.venv/
env/

# Deep Learning Project Data & Model Weights
data/
models/*.pth
models/*.h5

# Ignores compressed dataset archives
*.zip
*.tar.gz